.Modal {
  width: clamp(50%, 700px, 90%);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  background: rgb(241, 240, 240);
}

.title {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
