.NavigationItem {
  @apply text-xl mr-4;
}

.NavigationItem a {
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  font-weight: bold;
  font-size: "1.5rem";
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  font-weight: bold;
  font-size: "1.5rem";
  text-decoration: underline;
}
